.stats-label {
    margin: 5px;
    color: #545454;
}

.stats-title-label {
    margin:  5px;
    color: #0CAFA2;
}

.last-book-div {
    margin: 5px;
}

.last-book-data-div {
    display: block;
}
.last-book-flex-div {
    margin: 5px;
    display: flex;
}