.user-data-div {
    margin: 25px;
    width: 50%;
}

.user-data-title-label {
    margin: 5px;
    color: #0CAFA2;
}

.data-div {
    margin: 10px;
}

.stats-div {
    margin: 10px;
}
.user-data-label {
    margin: 5px;
    color: #545454;
}

.library-home-div {
    margin: 25px;
}

.flex-div {
    position: relative;
    margin: 25px;
    display: flex;
}

.block-home-div {
    margin: 25px auto 25px 25px;
    display: block;
}
.welcome-div {
    display: block;
    margin: 50px auto 50px auto;
}

.welcome-label {
    text-align: center;
    font-size: xx-large;
    color: #0CAFA2;
    margin: 25px auto 25px auto;
}

.info-label {
    text-align: center;
    font-size: x-large;
    color: #545454;
    margin: 25px auto 25px auto;
}