.search-label {
    color: #0CAFA2;
    font-size: large;
}

.search-div {
    margin: 15px;
}


.search-input {
    background: white;
    width: 400px;
    border: 5px solid #0CAFA2;
    border-radius: 5px;
    color: #545454;
    font-size: x-large;
}