.sing-up-div {
    background: #0CAFA2;
    display: block;
    width: 350px;
    margin: 50px 25px 50px 25px;
}

.sing-up-img {
    margin:  0 125px 0 125px;
    width: 100px;
    height: 100px;
}


.sing-up-title-label {
    color: #0CAFA2;
    width: 100%;
    text-align: center;
    font-size: xx-large;
}

.sing-up-data-div {
    padding-top: 10px;
}

.sing-up-title-div {
    width: 100%;
    background: white;
}

.sing-up-input-label {
    color: white;
    width: 300px;
    margin: 10px 25px 5px 25px;
    font-size: large;
}

.sing-up-text-input {
    background: white;
    color: #545454;
    width: 300px;
    margin: 5px 25px 0 25px;
    font-size: large;
}

.sing-up-button {
    background: white;
    color: #545454;
    width: 300px;
    margin: 10px 25px 10px 25px;
    font-size: large;
}


.error-label {
    font-size: 10px;
    color: red;
    box-sizing: border-box;
    width: 300px;
    text-align: center;
    margin: 2px 25px 10px 25px;
}