.invite-div {
    width: 350px;
    box-sizing: border-box;
    background: #0CAFA2;
    border: 5px solid #0CAFA2;
    padding-top: 5px;
    border-radius: 5px;
}

.invite-label {
    width: 250px;
    margin: 25px;
    font-size: x-large;
    color: white;
}

.invite-input {
    color: #0CAFA2;
    width: 300px;
    margin: 5px 25px 2px 25px;
    font-size: large;
}

.invite-button {
    margin: 5px 25px auto;
    background: white;
    color: #0CAFA2;
    font-size: large;
}